      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=anjar-wilujeng_vulnerable-app
            -Dsonar.organization=anjar-wilujeng
            -Dsonar.python.version=3.11

