name: SonarCloud Analysis

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: SonarCloud Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # disarankan untuk analisis penuh

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # otomatis tersedia di repo
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}    # harus kamu tambahkan di secrets
        with:
          args: >
            -Dsonar.organization=anjar-wilujeng
            -Dsonar.projectKey=vulnerable-app
            -Dsonar.python.version=3.11

